aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.6.0
baseblock==0.2.24
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
colorama==0.4.6
cryptography==38.0.1
distlib==0.3.7
entrypoints==0.4
exceptiongroup==1.1.2
filelock==3.12.2
flake8==4.0.1
flakeheaven==3.3.0
frozenlist==1.4.0
identify==2.5.26
idna==3.4
iniconfig==2.0.0
mccabe==0.6.1
multidict==6.0.4
nodeenv==1.8.0
openai==0.27.8
-e git+ssh://git@github.com/craigtrim/openai-helper.git@fc8068050ae25e0a3ba6992c9365f9fdb83a663d#egg=openai_helper
packaging==23.1
plac==1.3.5
platformdirs==3.9.1
pluggy==1.2.0
pre-commit==2.21.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.15.1
pytest==7.4.0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
tiktoken==0.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
unicodedata2==15.0.0
urllib3==2.0.4
virtualenv==20.24.2
yarl==1.9.2
